/* Contact.css */
.contact {
    text-align: center;
    margin: 20px;
  }
  
  .contact h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 1.2em;
    color: #666;
  }
  /* For screens smaller than 768px */
@media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  
    .player-list {
      flex-direction: column;
    }
  
    .player-card {
      width: 90%;
    }
  }
  